---
platforms:
- name: ubuntu-14.04
  attributes:
    push_jobs:
      package_url: "http://example.com/push-jobs-client-1.0.0-1.deb"
      package_checksum: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
- name: ubuntu-12.04
  attributes:
    push_jobs:
      package_url: "http://example.com/push-jobs-client-1.0.0-1.deb"
      package_checksum: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
- name: centos-6.4
  attributes:
    push_jobs:
      package_url: "http://example.com/push-jobs-client-1.0.0-1.rpm"
      package_checksum: "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
