---
provisioner:
  chef_omnibus_install_options: -d /tmp/vagrant-cache/vagrant_omnibus

platforms:
- name: ubuntu-14.04
  attributes:
    push_jobs:
      package_url: https://packagecloud.io/chef/stable/packages/ubuntu/precise/opscode-push-jobs-client_1.1.5-1_amd64.deb/download
      package_checksum: d7b40ebb18c7c7dbc32322c9bcd721279e707fd1bee3609a37055838afbf67ea
- name: ubuntu-12.04
  attributes:
    push_jobs:
      package_url: https://packagecloud.io/chef/stable/packages/ubuntu/precise/opscode-push-jobs-client_1.1.5-1_amd64.deb/download
      package_checksum: d7b40ebb18c7c7dbc32322c9bcd721279e707fd1bee3609a37055838afbf67ea
- name: ubuntu-10.04
  attributes:
    push_jobs:
      package_url: https://packagecloud.io/chef/stable/packages/ubuntu/lucid/opscode-push-jobs-client_1.1.5-1_amd64.deb/download
      package_checksum: 0a8f5069b7281f5acb800290d2e18b766864d46597fc84548f14a17a5b437426
- name: centos-7.1
  attributes:
    push_jobs:
      package_url: https://packagecloud.io/chef/stable/packages/el/6/opscode-push-jobs-client-1.1.5-1.el6.x86_64.rpm/download
      package_checksum: f5e6be32f60b689e999dcdceb102371a4ab21e5a1bb6fb69ff4b2243a7185d84
- name: centos-6.6
  attributes:
    push_jobs:
      package_url: https://packagecloud.io/chef/stable/packages/el/6/opscode-push-jobs-client-1.1.5-1.el6.x86_64.rpm/download
      package_checksum: f5e6be32f60b689e999dcdceb102371a4ab21e5a1bb6fb69ff4b2243a7185d84
- name: centos-5.11
  attributes:
    push_jobs:
      package_url: https://packagecloud.io/chef/stable/packages/el/5/opscode-push-jobs-client-1.1.5-1.el5.x86_64.rpm/download
      package_checksum: 753fa40c3282612a9a26b6690669c06e5c76cfee261842ef3e4ad78b5e524d2c
